body {
  background: rgb(99, 37, 169);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: rgb(48, 43, 43);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: rgb(48, 43, 43);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
}

a {
  color: rgb(48, 43, 43);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%; /* Ширина 100%, чтобы была адаптивность */
  max-width: 1240px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  min-height: 100vh; /* Минимальная высота равная высоте окна браузера */
}

/* Медиа-запросы */

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 20px; /* Добавляем отступы по бокам при уменьшении экрана */
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px; /* Добавляем отступы по бокам при уменьшении экрана */
  }
  body {
    font-size: 14px; /* Уменьшаем размер шрифта на более маленьких экранах */
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 2px; /* Добавляем отступы по бокам при уменьшении экрана */
  }

  body {
    font-size: 12px; /* Дополнительно уменьшаем размер шрифта на очень маленьких экранах */
  }
}
